#btn-myEvents {
  border-bottom: 4px solid #c73f00;
}

.events-menu {
  background: black;
  display: flex;
  justify-content: space-around;
}

.events-menu button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #6b4700;
  background: #ffbf40;
  transition: border-bottom .1s;
  border: 1px solid grey;
}

.event-form {
  display: grid;
  grid-gap: 10px;
  padding: 50px;
}

.event-form button[type="submit"]{
  outline: none;
  margin: 0 auto;
  width: 70%;
  height: 40px;
  background: #e0b000;
  cursor: pointer;
  color: white;
  font-size: 17px;
  border-radius: 20px;
  transition: width .6s, background .6s;
}

.events-cont {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.event-cont {
  position: relative;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  justify-content: space-around;
  background: RGBA(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: 1px white solid;
}

.event-cont img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 2px RGBA(255, 255, 255, .7) solid;
  border-radius: 50%;
}

.people-count-i {
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  background: black;
  padding: 15px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.people-count-i span{
  margin-left: 5px;
}

.cover-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: RGBA(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}

.showItems-cont {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 800px;
  max-height: 60vh;
  overflow: auto;
  align-items: center;
  color: white;
  background: RGBA(255, 169, 71, .5);
}

@media(max-width: 600px) {
  .events-menu button {
    font-size: 15px;
  }

  .event-cont h2{
    font-size: 20px;
  }

  .event-cont h3{
    font-size: 15px;
  }

  .event-cont {
    grid-template-columns: 150px calc(100% - 150px);
  }

  .event-cont img{
    width: 100px;
    height: 100px;
  }
}
